:root{
  --bs-primary: #0d6efd;
  --bs-primary-rgb: 13, 110, 253;
  --bs-purple: #6f42c1;
 

}

.btn:hover {
  background-color: black !important;
}

.btn-outline-primary:hover {
  background-color:var(--bs-purple) !important;
}